body {
  margin: 0;
  background-color: var(--cor-5);
}

.header-container {
  align-items: center;
  display: flex;
  justify-content: space-around;
  background-color: var(--cor-6);
  height: 100px;
}

.logo {
  width: 120px;
}

.titulos {
  color: var(--cor-4);
  text-transform: uppercase;
  font-weight: 800;
  font-family: 'Lucida Sans';
}

.navbarInput {
  width: 490px;
  height: 15px;
  background-color: var(--cor-2);
  border-radius: 15px;
  border: 1px solid var(--cor-1);
  outline-color: var(--cor-1);
  color: var(--cor-4);
  font-weight: 600;
  font-family: 'Lucida Sans';
  padding: 7px;
}

.topicosHeader {
  text-decoration: none;
  color: var(--cor-4);
  text-transform: uppercase;
  font-weight: 690;
  font-family: 'Lucida Sans';
}

.totalBody{
  display: flex;
}

.ladoEsquerdo {
  padding: 20px;
  margin-left: 3%;
  width: fit-content;
  height: max-content;
}

.tituloBodyHomeP{
  margin-top: 4%;
  color: var(--cor-4);
  text-transform: uppercase;
  font-weight: 800;
  font-family: 'Lucida Sans';
  
}

.imageBodyHomeP {
  border-radius: 25px;
  box-shadow: 5px 5px 0 var(--cor-1);
  width: 960px;
}

.ladoDireitoHomeP {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5.9%;
  margin-left: 9%;
  height: 300px;


  background-color: var(--cor-2);
  border-radius: 20px;
  box-shadow: 5px 5px 0 var(--cor-1);
}

.tituloBodyLadoD{
  margin-top: 4%;
  color: var(--cor-4);
  text-transform: uppercase;
  font-weight: 800;
  font-family: 'Lucida Sans';
  padding: 10px;
}

.buttonHomeP {
  border-radius: 10px;
  border: none;
  text-decoration: none;
  background-color: var(--cor-6);
  color: var(--cor-4);
  text-transform: uppercase;
  font-weight: 800;
  font-family: 'Lucida Sans';
  font-size: 18px;
  padding: 8px;
  margin-top: 3%;
}

.buttonHomeP:hover{
  background-color: var(--cor-5);
}